---
import CourseLayout from '@layouts/CourseLayout.astro'
import Course from './Course.vapor.vue'
const courseID = Astro.params.course_id

const res = await fetch(
  `${Astro.url.origin}/api/courses/details?courseID=${courseID}`,
  {
    headers: {
      'Content-Type': 'application/json',
    },
  },
)

let details = await res.json()
let {first_names, last_names, prefixes} = details[0].result.teachers
let course = details[0].result.course

let teacherNames = first_names.map((name, index) => {
  return `${prefixes[index] != null ? prefixes[index] + ' ' : ''}${name} ${
    last_names[index]}`
})

export const prerender = false
---

<CourseLayout courseName={course.name}>
  
  <div slot="summary" class="text-blue-400 bg-red-400">
    <h2>Teachers</h2>
    <ul>
      {teacherNames.map((name) => {
        return <li>{name}</li>
      })}
    </ul>
  </div>

  <Course
    client:load
    teachers={teacherNames}
    course={course}
    slot="intro"
  />
</CourseLayout>
