---
import SiteLayout from '@layouts/SiteLayout.astro'
import ExceptionalFaculty from '@components/ExceptionalFaculty.vapor.vue'
import Facility from '@components/Facility.vapor.vue'
import Icon from '@components/Icon.vapor.vue'
import { Image } from 'astro:assets'

import facultyImageA from '@assets/images/premanand_ghadekar.png'
import facultyImageB from '@assets/images/deepali_deshpande.png'
import facultyImageC from '@assets/images/priyadarshan_dhabe.png'

import lab1308 from '@assets/images/1308.jpeg'
import lab1309 from '@assets/images/1309.jpg'
import lab1201 from '@assets/images/1201.jpg'
---

<!-- <script>
  import {throttle} from 'lodash'
  import { smallNavTheme } from '@store/menu'

  const isInViewport = (element: HTMLElement) => {
    const rect = element.getBoundingClientRect()
    return (
      rect.top >= 0 &&
      rect.left >= 0 &&
      rect.bottom <=
        (window.innerHeight || document.documentElement.clientHeight) &&
      rect.right <= (window.innerWidth || document.documentElement.clientWidth)
    )
  }
  
  let scrollDown = true
  let prevScrollTop = 0
  let scrollTop = 0

  let hero = document.querySelector('.home')
  let exceptionalFaculty = document.querySelector('.exceptional-faculty')
  let facilities = document.querySelector('.facilties')

  const handleScroll = throttle(() => {
    scrollTop = document.body.getBoundingClientRect().top
    scrollDown = scrollTop < prevScrollTop ? true : false

    console.log(scrollTop, hero.getBoundingClientRect().bottom)
    
    if (scrollDown) {
      if (hero.getBoundingClientRect().top > scrollTop) {
        smallNavTheme.set('dark')
        console.log('tshi ran')
      }
      if (exceptionalFaculty.getBoundingClientRect().top < scrollTop) {
        smallNavTheme.set('light')
      }
      console.log(scrollTop)
    }
    else {

    }

    prevScrollTop = scrollTop
  }, 200)

  window.addEventListener('scroll', handleScroll)
</script> -->

<SiteLayout navTheme="transparent" smallNavTheme="dark">
  <div class="home flex items-center justify-center w-full h-[98%]">
    <div
      class="w-full px-80 flex flex-col items-center justify-center font-heading text-white"
    >
      <h1 class="text-[12rem]">Department of IT</h1>
      <h6 class="text-3xl w-1/2 text-center">
        To provide student-centered state-of-the-art academically enriched
        environment for productive careers in the world of computing through
        creativity and innovation
      </h6>
    </div>
  </div>

  <div class="w-full exceptional-faculty relative">
    <div
      class="exceptional-faculty-header
    flex items-center justify-between
    px-80 py-12
    bg-black/90
    font-heading text-white"
    >
      <span class="text-8xl"> Exceptional Faculty</span>
      <span class="text-4xl font-text w-2/5">
        Meet the exceptional faculty of the IT department
      </span>
    </div>

    <ExceptionalFaculty client:visible>
      <Image
        slot="faculty-image-a"
        src={facultyImageA}
        alt="Prof. Dr. Premanand Ghadekar"
      />
      <Image
        slot="faculty-image-b"
        src={facultyImageB}
        alt="Prof. Deepali Deshpande"
      />

      <Image
        slot="faculty-image-c"
        src={facultyImageC}
        alt="Prof. Dr. Priyadarshan Dhabe"
      />
      <Icon name="chevron-left" class="w-8" slot="icon-prev" />
      <Icon name="chevron-right" class="w-8" slot="icon-next" />
    </ExceptionalFaculty>
  </div>

  <div class="facilties px-80 bg-black/90 text-white py-20">
    <div class="facility grid grid-cols-[1fr_2fr] py-20">
      <div class="facility-image rounded-3xl overflow-hidden">
        <Image
          src={lab1308}
          alt="1308 - Center of Excellence in Machine Learning & Deep Learning"
        />
      </div>
      <div class="facility-content my-auto">
        <div class="font-heading facility-title text-6xl px-40 mb-10">
          Center of Excellence in Machine Learning & Deep Learning
        </div>
        <div class="facility-description px-40 text-4xl">
          Location: 1308<br>

          In-charge Faculty: Prof. Ranjana S. Jadhav
        </div>
      </div>
    </div>

    <div class="facility grid grid-cols-[2fr_1fr] py-20">
      <div class="facility-content my-auto">
        <div class="font-heading facility-title text-6xl px-40 mb-10">
          Center of Excellence in Software Development
        </div>
        <div class="facility-description px-40 text-4xl">
         Location: 1309<br>

         In-charge Faculty: Prof. Deepali Deshpande
        </div>
      </div>
      <div class="facility-image rounded-3xl overflow-hidden">
        <Image
          src={lab1309}
          alt="1308 - Center of Excellence in Machine Learning & Deep Learning"
        />
      </div>
    </div>

    <div class="facility grid grid-cols-[1fr_2fr] py-20">
      <div class="facility-image rounded-3xl overflow-hidden">
        <Image
          src={lab1201}
          alt="1308 - Center of Excellence in Machine Learning & Deep Learning"
        />
      </div>
      <div class="facility-content my-auto">
        <div class="font-heading facility-title text-6xl px-40 mb-10">
          Data Science Laboratory
        </div>
        <div class="facility-description px-40 text-4xl">
          Location: 1316 A<br>

In-charge Faculty: Prof. Priyadarshan S. Dhabe
        </div>
      </div>
    </div>
  </div>

  <div class="testimonials px-80 py-80">
    <div class="mx-80 h-full relative">
      <div class="testimonials-header text-8xl font-heading absolute bg-white left-1/2 -translate-x-1/2 -translate-y-1/2">Testimonials</div>
      <div class="testimonial-content border-2 border-solid border-black py-20 px-40 text-2xl">
Most professors and teachers willingly extended a helping hand every time I approached them with unprecedented problems and they always believed in my passion for an applied research career. It is because of the availability of quality resources and the profound experience of my professors at VIT, Pune that I was able to publish papers as an undergrad student and made lasting research contributions in the fields of Artificial Intelligence, Machine Learning and HCI. Moreover, on the non-academic side, I found myself in an environment with gregarious friends and colleagues to share ideas and solutions with, which helped me balance my academic life. 

      </div>
      <div class="testimonials-footer text-4xl font-heading absolute bottom-0 left-1/2 -translate-x-1/2 translate-y-1/2 bg-white">Nikhil Wani BTech IT 2016-17</div>
    </div>
  </div>
</SiteLayout>

<style lang="stylus">
  opacity = 0.5
  lingrad_1  = linear-gradient(to bottom, rgba(#000, opacity), rgba(#000, opacity))
  lingrad_2 = linear-gradient(to bottom, rgba(#000, 0), rgba(#000, 0), rgba(#000, 0.9))

  .home
    background-image lingrad_1, lingrad_2, url('../assets/images/hero.jpg')
    background-repeat no-repeat
    background-size 100%
    background-position center

</style>
